@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Press+Start+2P&display=swap');

@mixin font_fancy {
    font: {
        family: 'Cinzel', serif;
        weight: 600;
    }
}
@mixin font_8bit {
    font: {
        family: 'Press Start 2P', cursive;
        weight: 400;
    }
}
.MainPageContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    z-index: 0;
}
.TitleScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
h1 {
    @include font_8bit;
    display: flex;
    margin: 0;
}
h2 {
    @include font_8bit;
}
#titleStartButton {
    @include font_8bit;
    width: 100px;
    height: 50px;
}
.TitlePC {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}
.TitleRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}